<div class="card-container">
  <div class="card">
    <div class="header">
      <p>{{ title }}</p>
    </div>
    <div class="body-img" [style.background-image]="'url(./assets/img/portal.gif)'"></div>
    <div class="body" >
      <div class="img">
        <img [src]="data?.image" [alt]="data?.name">
      </div>
      <div class="name">
        <p>{{data?.name}}</p>
      </div>
      <div class="personal-data">
        <p>Gender: {{data?.gender}}</p>
      </div>
      <div class="location">
        <p>Location: {{data?.location?.name}}</p>
      </div>
      <div class="origin">
        <p>Origin: {{data?.origin?.name}}</p>
      </div>
    </div>
  </div>
</div>
